#root {
  margin: 0 auto;
  /* padding: 2rem; */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  /* border-bottom: 2px solid white; */
  /* max-height: 80px; */
}

table {
  width: 80%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  color: black;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background: #edf2f7;
  font-weight: 600;
}

tr:hover {
  background: #f9fafb;
}

.actions-column {
  width: 120px;
  text-align: center;
  white-space: nowrap;
}

.actions-column button {
  margin: 0 5px;
}

table button {
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  width: 4rem;
}

table button:hover {
  filter: brightness(0.9);
}
