.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg);
}

.sign-in-page form {
  background-color: var(--color-surface);
  gap: 0.8rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(205, 205, 205);
  text-align: center;
}

.sign-in-page .error-message {
  min-height: 1em;
  color: var(--color-danger-hover);
}

.sign-in-page button {
  align-self: center;
  font-size: 0.9rem;
}
