.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg);
}

.sign-in-page form {
  background-color: var(--color-surface);
  gap: 1.2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(205, 205, 205);
  text-align: center;
}

.sign-in-page .error-message {
  height: 1em;
  color: var(--color-danger-hover);
  margin-top: -1rem;
}

.sign-in-page button {
  align-self: center;
  font-size: 0.95rem;
  margin-top: 0.2rem;
}

.sign-in-page .show-password {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400 !important;
  color: var(--color-dark-grey);
  margin-top: 0.1rem;
  font-size: 0.95rem;
}
