.dashboard-form {
  width: 25rem;
}

.dashboard-form h3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(---color-dark-grey);
}

.dashboard-form div.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-form label {
  font-weight: 600;
  color: #555;
}

.dashboard-form textarea {
  min-height: 5rem;
  border-radius: 8px;
  resize: none;
  padding: 0.5rem 0.7rem;
  height: auto;
  outline: none;
  transition: all 0.2s ease;
  font-size: 1rem;
  border-color: var(--color-border);
}

.dashboard-form textarea:focus {
  border-color: var(--color-accent-hover);
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.dashboard-form input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dashboard-form .radio-group {
  display: flex;
  gap: 1.5rem;
}

.dashboard-form .radio-group label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.dashboard-form .button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 0.8rem;
}

.dashboard-form button {
  padding: 0.6rem 1.1rem;
}

.dashboard-form button[type="button"] {
  background-color: #f3f4f6;
  color: #333;
}

.dashboard-form button[type="button"]:hover {
  background-color: #e5e7eb;
}

label.show-password {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400 !important;
  margin-top: -0.5rem;
  font-size: 0.9;
}
